/* App Layout */
html,
body,
#root {
  height: 100%;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}

/* Navbar */
:root {
  --navbar-height: 140px;
}

.navbar {
  min-height: var(--navbar-height);
}

.app-main {
  padding-top: var(--navbar-height);
}

.navbar .navbar-toggler {
  display: inline-block !important;
}

.navbar .navbar-toggler-icon {
  display: inline-block;
}
